body {
    margin: 0;
}

.content {
    margin: 2%;
    height: 90vh;
}

/**
HEAD
*/
.header {
    height: 6vh;
    background: black;
}

header {
    height: 100%;
    color: white;
    display: flex;
    width: 100%;
}

.menu {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}

/*
Datos de entrada
*/
.datos {
    display: grid;
    align-items: center;
    border-radius: 30px;
    height: 60%;
    background: rgb(201, 227, 236);
    margin: 10px 0px 10px 0px;
}

.entryData {
    display: flex;
    height: 80%;
    padding: 0%;
}

.entryData div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border-radius: 20px;
    height: 80%;
}

.txtEntry {
    font-family: system-ui;
    text-align: end;
    font-size: x-large;
    background: rgb(223 187 205);
    width: 23%;
    border: inset;
}

.inputEntry {
    border: inset;
    background: rgb(185 206 245);
    width: 73%;
}

input {
    font-size: xx-large;
}

input,
select {
    font-size: large;
    width: 80%;
    height: 50%;
    text-align: center;
}

.resultados {
    display: grid;
    align-items: center;
    border-radius: 30px;
    height: 30%;
    background: rgb(201, 237, 236);
}

.resData {
    display: flex;
    height: 80%;
}

.resData div {
    display: grid;
    background: #a9e0e5;
    margin: 2%;
    border-radius: 10px;
    font-size: x-large;
    justify-items: center;
    align-items: center;

}

.resTXT {
    width: 23%;
}

.resTXT button {
    margin: 0;
    padding: 0;
    border-radius: 10%;
    font-size: x-large;
    height: 80%;
    width: 80%;
}

.resTXT div {
    width: 100%;
    height: 100%;
}

.restML {
    border: inset 3px;
    width: 73%;
}

#res {
    width: 100%;
}


.opciones {
    top: 0px;
    position: relative; 
    height: 100vh;
    width: 50%;
    background: rgb(0, 0, 0);
}